html, body, section, article, nav, h1, h2, h3, a, p, {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  font: inherit;
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  background: #ccc;
}

h1 {
  width: 600px;
  margin: 100px auto 0;
}

nav {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 700;
  background: pink;
}

nav > a {
  display: block;
  float: right;
}

nav > a:last-child {
  margin-right: 20px;
}

section {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 5px 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h2 {
  text-align: center;
}

.me {
  width: 250px;
  height: auto;
  float: right;
  border-radius: 5px;
}

.screenshot {
  width: 300px;
  height: auto;
  float: right;
  clear: both;
  border-radius: 5px;
}

article {
  margin: 20px 0;
}
